<!-- Page Heading -->
<p class="title">SpaceX Launch Programs</p>

<!-- Main Container -->
<div class="x-container">
  <!-- Filter Section -->
  <div class="x-sidebar">
    <div class="filter-card">
      <p class="filter">Filters</p>
      <p class="filter-title">Launch Year</p>
      <ul class="filter-list" >
        <li *ngFor="let year of yearList" class="list-item">
          <button class="filter-btn" (click)="getLaunchYear(year)">{{year}}</button>
        </li>
      </ul>

      <p class="filter-title">Successful Launch</p>
      <ul class="filter-list" >
        <li *ngFor="let launch of successList">
          <button class="filter-btn" (click)="getLaunchSuccess(launch.value)">{{launch.view}}</button>
        </li> 
      </ul>

      <p class="filter-title">Successful Landing</p>
      <ul class="filter-list" >
        <li *ngFor="let land of successList">
          <button class="filter-btn" (click)="getLandSuccess(land.value)">{{land.view}}</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- spaceX cards with it's information -->
  <div class="x-main-content">
    <div class="x-card" *ngFor="let x of spaceXarray;let i = index">
      <img src="{{x.links.mission_patch_small}}" class="card-image" alt="Space Mission Image">
      <p class="mission-name"> {{x.mission_name}} #{{x.flight_number}}</p>
      <p class="card-title">Mission Ids</p>
      <ul class="card-content mission-list">
        <li>{{x.mission_id}}</li>
      </ul>
      <p class="card-title">Launch Year: <span class="card-content">{{x.launch_year}}</span></p>
      <p class="card-title">Successful Launch: <span class="card-content">{{x.launch_success}}</span></p>
      <p class="card-title">Successful Landing: <span class="card-content">{{ get_land_success_val(x.rocket.first_stage.cores) }}</span></p>
    </div>
  </div>
</div>
<!-- Developer Name -->
<h3 class="develop">Developed By: <span class="developer-name">Smriti Dubey</span></h3>
<router-outlet></router-outlet>